body {

    background-color: #FAE5D3;
}


.maincontainer {
    background-color: #FDF2E9;
    height: 100%;
    width: 50%;
}

.Mainimage {
    height: 300px;
    width: 200px;

}

.telephone {
    height: 20px;
    width: 20px;


}

.mail {
    height: 20px;
    width: 20px;
}

.maincontainertwo {
    background-color: #FDF2E9;
    width: 40%;
}

.phonenumber {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;

}

.email {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;

}

.main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;

}

h3 {
    font-size: 20px;
}

p {
    font-size: 20px;
}


.contact>div {
    margin-bottom: 20px;
    font-weight: 600;
}

.contact img {
    margin-right: 5px;
}